div {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-weight: 600;
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  background: none;
  border: none;
}

.hidden {
  /* display: none; */
  opacity: 0;
  height: 0;
}

.container {
  margin: 90px 15%;
  display: grid;
  grid-template-columns: 215px auto;
}

.content {
  width: 100%;
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
  height: min-content;
}

.content-break {
  height: 1px;
  width: auto;
  background-color: rgba(230, 230, 250, 0.75);
}

.content-header {
  padding: 10px 0;
}

.slide-in.hidden {
  visibility: hidden;
}

.slide-in {

}

a {
  text-decoration: none;
  color: black;
}

@import './styles/modal.css';
@import './styles/sidebar.css';
@import './styles/navbar.css';
@import './styles/post.css';
@import './styles/settings.css';
@import './styles/following.css';
@import './styles/userpage.css';
@import './styles/explore.css';
