div {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-weight: 600;
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

.hidden {
  opacity: 0;
  height: 0;
}

.container {
  width: 950px;
  margin: 90px auto;
  display: flex;
  justify-content: center;
}

.content {
  width: 750px;
  height: min-content;
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
}

.content-break {
  height: 1px;
  width: auto;
  background-color: rgba(230, 230, 250, 0.75);
}

.content-header {
  padding: 10px 0;
}

#info {
  position: fixed;
  right: 200px;
  background-color: lavender;
  width: 300px;
  height: 300px;
}

a {
  text-decoration: none;
  color: black;
}

.support__tab-button {
  padding: 10px;
  font-size: 18px;
  color: gray;
}

.support__tab-button.selected {
  font-weight: 600;
  color: darkslateblue;
  border-bottom: 2px solid darkslateblue;
}

@import './styles/modal.css';
@import './styles/sidebar.css';
@import './styles/navbar.css';
@import './styles/post.css';
@import './styles/settings.css';
@import './styles/following.css';
@import './styles/userpage.css';
@import './styles/explore.css';
@import './styles/edituserpage.css';
