.following-view_button {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  color: darkslateblue;
  background-color: lavender;
  font-weight: 600;
  font-size: 16px;
}

.following-view_button:hover {
  background-color: rgb(218, 218, 255);
}
