.navbar {
  position: fixed;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  box-shadow: 0 0px 10px lavender;
  padding: 0 150px;
  font-size: 14px;
  font-weight: 600;
}

#navbar_logo {
  display: flex;
  font-size: 30px;
  font-weight: 600;
}

#navbar_logo > span {
  align-self: center;
}

.navbar > ul > li,
.navbar > ul > a {
  padding: 10px;
  align-self: center;
  border-radius: 25px;
  margin: 0 5px;
  text-decoration: none;
  color: black;
}

.navbar > ul > li:hover {
  cursor: pointer;
}

.navbar > ul > li.navbar-button {
  color: white;
  background-color: slateblue;
}
