.post-container {
  padding: 15px 0px;
  margin-bottom: 15px;
}

.post-header {
  display: flex;
}

.post-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: lavender;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-position: center;
  background-size: cover;
}

.post-info {
  position: relative;
  left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.post-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(230, 230, 250, 0.5), 0 0 15px rgba(230, 230, 250, 0.75);
}

.post-arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  margin-top: 10px;
  margin-left: 35px;
  transform: rotate(45deg);
}

.post-body > p {
  font-size: 16px;
}

.post-body__image {
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.post-buttons {
  display: flex;
  margin-top: 15px;
}

.like-button > i {
  font-size: 20px;
  color: lightgray;
  vertical-align: center;
}

.like-button > i:hover {
  color: rgb(255, 92, 113);
  transition: color .15s;
}

.like-button.liked > i {
  color: rgb(255, 92, 113);
}

.delete-button {
  position: absolute;
  right: 20px;
}
