.post-container {
  padding: 15px 0px;
  margin-bottom: 15px;
}

.post-header {
  display: flex;
}

.post-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: lavender;
  margin-right: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.post-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.post-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(230, 230, 250, 0.5), 0 0 15px rgba(230, 230, 250, 0.75);
}

.post-arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  margin-top: 10px;
  margin-left: 35px;
  transform: rotate(45deg);
}

.post-body > p {
  /* padding: 20px 10px; */
  font-size: 16px;
}

/* .post-buttons {
  display: flex;
  padding: 5px;
  align-content: center;
}

.like-button > i {
  font-size: 20px;
  color: lightgray;
  vertical-align: center;
}

.like-button > i:hover {
  color: palevioletred;
}

.like-button > i.liked {
  color: palevioletred;
}

.like-button > i.liked:hover {
  color: lightgray;
} */
