.settings-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.settings-form > div > label {
  font-weight: 600;
}

.slider {
  position: relative;
  width: 70px;
  height: 36px;
  border-radius: 50px;
  margin: 15px 0 35px 0px;
  align-content: center;
  transition: background-color, .5s;
  cursor: pointer;
}

.slider-true {
  position: absolute;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  right: 3px;
  top: 3px;
  background-color: slateblue;
  transition: position, .5s;
  display: flex;
  justify-content: center;
}

.slider-true > i {
  margin: auto 0px;
  color: whitesmoke;
}

.slider-false {
  transition: position, .5s;
  position: absolute;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  left: 3px;
  top: 3px;
  background-color: darkgray;
}

.settings-form > div > input,
.settings-form > div > textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid lavender;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 16px;
}

.settings-tags {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-top: 10px;
  height: min-content;
}

.settings-tags > li {
  display: flex;
  justify-content: space-between;
  background-color: lavender;
  color: darkslateblue;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 25px;
  margin: 0px 10px 10px 0;
  align-content: center;
  cursor: default;
}

.settings-tags > li.unselected {
  background-color: lightgray;
  color: rgb(54, 54, 54);
}

.settings-tags > li > span,
.settings-tags > li > button {
  padding: 0;
  margin: 5px;
  align-self: center;
}

.settings-tags > li > button > i {
  padding: 0;
  color: rgb(255, 75, 105);
}

.settings-tags > li.unselected > button > i {
  color: white
}

.settings-form > button {
  font-size: 16px;
  font-weight: 600;
  align-self: center;
  border-radius: 10px;
  width: 50%;
  margin: 20px;
  padding: 20px;
  background-color: lavender;
  color: darkslateblue;
}

.settings-form > button:disabled {
  color: gray;
  background-color: whitesmoke;
}

.success-toast,
.error-toast {
  top: 100px;
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  background-color: lavender;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 10px lightgray;
}

.error-toast {
  background-color: rgb(255, 183, 183);
}

