.settings-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.settings-form > div > label {
  font-weight: 600;
}

.slider {
  width: 50px;
  height: 20px;
  background-color: red;
}

.settings-form > div > input,
.settings-form > div > textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid lavender;
  margin-top: 10px;
  margin-bottom: 25px;
}

.settings-tags {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-top: 10px;
}

.settings-tags > li {
  display: flex;
  justify-content: space-between;
  background-color: lavender;
  color: slateblue;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 25px;
  margin-right: 10px;
  align-content: center;
}

.settings-tags > li > span,
.settings-tags > li > button {
  padding: 0;
  margin: 5px;
  align-self: center;
}
.settings-tags > li > button > i {
  padding: 0;
  color: red;
}

.settings-form > button {
  font-size: 16px;
  font-weight: 600;
  align-self: center;
  border-radius: 10px;
  width: 50%;
  margin: 20px;
  padding: 20px;
  background-color: lavender;
  color: darkslateblue;
}
