.userpage-container {
  margin: 0 auto;
  width: 950px;
}

.userpage-topbar {
  display: flex;
  justify-content: space-between;
}

.userpage-banner {
  background-position: center;
  background-size: cover;
  height: 250px;
}

.userpage-avatarinfo {
  display: flex;
}

.userpage-avatar {
  background-position: center;
  background-size: cover;
  border-radius: 150px;
  max-width: 115px;
  max-height: 115px;
  min-height: 115px;
  min-width: 115px;
  border: 3px solid white;
  box-shadow: 0 0 5px lavender;
  background-color: lightgray;
}

.userpage-info {
  margin-left: 20px;
  padding: 10px;
  font-size: 14px;
}

.userpage-info > div {
  margin: 5px auto;
}

.userpage-buttons {
  display: flex;
  align-self: center;
}

.userpage-buttons > button {
  font-size: 16px;
  border-radius: 50px;
}

#support-button {
  background-color: slateblue;
  padding: 10px 60px;
  color: white;
  margin-right: 10px;
  font-weight: 600;
  height: min-content;
  white-space: nowrap;
}

#support-button:hover {
  transition: background-color .25s;
  background-color:rgb(127, 108, 255);
}

#follow-button {
  font-size: 14px;
  padding: 10px 15px;
  border: 2px solid black;
  min-height: 40px;
}

#follow-button:hover {
  transition: color .25s, border .25s;
  border: 2px solid slateblue;
  color: slateblue;
}

#following-button {
  background-color: whitesmoke;
  padding: 5px 15px;
  min-height: 40px;
  color: gray;
  white-space: nowrap;
}

.userpage-main {
  margin: 25px auto;
  display: flex;
  justify-content: center;
}

.userpage-left {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(230, 230, 250, 0.5), 0 0 5px rgba(230, 230, 250, 0.5);
  margin-right: 25px;
  padding: 15px;
  height: min-content;
  width: 375px;
}

.userpage-right {
  width: 550px;
}

.userpage-support,
.userpage-create_post {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(230, 230, 250, 0.5), 0 0 5px rgba(230, 230, 250, 0.5);
  padding: 20px;
  margin-bottom: 25px;
}

.userpage-create_post {
  display: flex;
  flex-direction: column;
}

.userpage-create_post > textarea,
.userpage-support > textarea {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px auto 20px auto;
  padding: 10px;
  border: 2px solid lavender;
}

#support-form > input:hover,
.userpage-support > textarea:hover {
  transition: border .25s;
  border: 2px solid slateblue;
}

.userpage-support {
  position: relative;
  transition: box-shadow, .5s;
}

.userpage-support.focus {
  transition: box-shadow, 1s;
  box-shadow: 0 0 15px rgba(105, 90, 205, 0.5);
}

.userpage-support > .checkbox {
  position: absolute;
  text-align: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 2px solid lavender;
  border-radius: 5px;
}

.userpage-support > .checkbox:hover {
  transition: border .25s;
  border: 2px solid slateblue;
}

.userpage-support > .checkbox.checked {
  background-color: lavender;
  color: slateblue;
}

.userpage-support > .checkbox.checked:hover {
  border: 2px solid lavender;
}

.userpage-support > label {
  position: absolute;
  height: 20px;
  margin-left: 30px;
  margin-top: 2px;
}

.userpage-support > button {
  width: 100%;
  color: white;
  background-color: slateblue;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0px;
  border-radius: 50px;
}

.userpage-support > button:hover {
  transition: background-color .25s;
  background-color: rgb(127, 108, 255)
}

.userpage-support > button:disabled {
  cursor: not-allowed;
  color: gray;
  background-color: darkgray;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#support-form > input {
  text-align: center;
  font-size: 20px;
  border: none;
  padding: 10px;
  border-radius: 50px;
  border: 2px solid lavender;
  width: 60px;
  margin: 0 5px;
}

#support-form > button {
  color: slateblue;
  background-color: lavender;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#support-form > button:disabled {
  color: gray;
  background-color: lightgray;
}

.userpage-posts {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(230, 230, 250, 0.5), 0 0 5px rgba(230, 230, 250, 0.5);
  padding: 20px;
}

.userpage-post {
  margin-top: 20px;
  padding: 10px;
}

.userpage-post > p {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px lavender;
}

.userpage-tag_container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 5px 0;
}

.userpage-tag {
  color: gray;
  font-weight: 600;
  margin: 0 5px 5px 0;
  font-size: 10px;
  padding: 5px 10px;
  background-color: whitesmoke;
  border-radius: 25px;
  white-space: nowrap;
}
